body{
    background:#080808;
    color:white;
    font-family:Poppins,sans-serif;
}

.navbar{
    width:90%;
    height:75px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
    background:#0d0d0d;
    border-bottom:1px solid #222;
}

.logo{
    display:flex;
    flex-direction:column;
    min-width:220px;
}

.logo h2{
    font-size:42px;
    font-weight:bold;
    white-space:nowrap;
}

.white{
    color:white;
}

.red{
    color:#ff2e2e;
}

.logo span{
    font-size:40px;
    font-weight:bold;
}

.logo-text{
    color:#b5b5b5;
    font-size:15px;
    margin-top:5px;
}

.menu{
    display:flex;
    list-style:none;
}

.menu li{
    margin:0 18px;
}

.menu li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.menu li a:hover,
.active{
    color:#ff2e2e;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.login-btn{
    text-decoration:none;
    background:#ff2e2e;
    color:white;
    padding:12px 30px;
    border-radius:8px;
    transition:.3s;
}

.login-btn:hover{
    background:#d81f1f;
}

.register-btn{
    text-decoration:none;
    color:#ff2e2e;
    border:2px solid #ff2e2e;
    padding:12px 30px;
    border-radius:8px;
    transition:.3s;
}

.register-btn:hover{
    background:#ff2e2e;
    color:white;
}

.hero{
    width:90%;
    min-height:calc(100vh - 90px);
    padding:40px 0;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-left{
    width:48%;
}

.welcome{
    color:#ff2e2e;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:20px;
}

.hero-left h1{
    font-size:60px;
    line-height:70px;
    margin-bottom:20px;
}

.description{
    color:#c8c8c8;
    font-size:20px;
    line-height:32px;
    max-width:520px;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.dashboard-btn{
    text-decoration:none;
    background:#ff2e2e;
    color:white;
    padding:16px 35px;
    border-radius:8px;
    font-size:18px;
    transition:.3s;
}

.dashboard-btn:hover{
    background:#d81f1f;
}

.account-btn{
    text-decoration:none;
    color:#ff2e2e;
    border:2px solid #ff2e2e;
    padding:16px 35px;
    border-radius:8px;
    font-size:18px;
    transition:.3s;
}

.account-btn:hover{
    background:#ff2e2e;
    color:white;
}

.hero-right{
    width:45%;
    display:flex;
    justify-content:center;
}

.hero-image{
    width:75%;
    max-width:450px;
    animation:float 3s ease-in-out infinite;
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-15px);}
    100%{transform:translateY(0);}
}

footer{
    width:100%;
    text-align:center;
    padding:25px;
    border-top:1px solid #222;
    color:#bdbdbd;
}